{% extends 'base.html' %}
{% block content %}
<h2>{{ item['title'] }}</h2>
<span class="badge badge-primary">{{ item['company'] }}</span>
{% if item['status'] == 'выдан' %}
    <span class="badge badge-success">выдан</span>
{% else %}
    <form action="{{ url_for('issue_item') }}" method="POST">
        <input type="hidden" name="item_id" value="{{ item['id'] }}">
        <button type="submit" class="btn btn-primary btn-sm">Выдать товары по накладной</button>
    </form>
{% endif %}

<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Позиция</th>
            <th scope="col">Единица измерения</th>
            <th scope="col">Количество</th>
        </tr>
    </thead>
    <tbody>
        {% for pos in positions %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ pos['position'] }}</td>
            <td>{{ pos['unit'] }}</td>
            <td>{{ pos['quantity'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
